body {
    background-color: aqua;
}

nav a {
    color: red;
}

article > p {
    background-color: yellowgreen;
}

#topnav {
    background-color: white;
}


.active {
    color: blanchedalmond;
}

div ~ p {
    background-color: teal;
}

div + p {
    background-color: pink;
}

footer a {
    color: darkorchid;
}

a {
    color: darkgreen;
}